{% from 'macros.html' import displayfield %}

{% extends 'pre-login.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Register here</h1>

<form id="nya" method="post" action="{{url_for('hello_world')}}">
    <!-- <div>
        {{form.username(class="user",placeholder="username",autocomplete="off",autofocus='off')}}

        
        <ul >
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
       
    </div>

    <div>
        {{form.password(class="pswd",placeholder="enter password")}}

        
        <ul >
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        
    </div>

    <div>
        {{form.cnf_pswd(class="pswd",placeholder="confirm your password")}}

       
        <ul >
            {% for error in form.cnf_pswd.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        
    </div> -->

    {{displayfield(form.username,"username", autocomplete="off",autofocus=true)}}
    {{displayfield(form.password,"password")}}
    {{displayfield(form.cnf_pswd,"retype password")}}

    <div>
        {{form.submit}}
    </div>
    {{ form.csrf_token }}
</form>

<div class="already_account">
    <span>Already Registered </span> <a href="{{url_for('login')}}">Login</a>
</div>

{% endblock %}